@model MvcPracownik.Models.Student_Zajecia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student_Zajecia</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Student_Zajecia_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
