@{
    ViewData["Title"] = "HomePage";
}
<div class="text-center">
<h1>Logged in!</h1> 
    <form action="/logout" method="post">  
        <div class="container">   
            <label>Log out: </label>   
            </br>
            </br>
            <button type="submit">Log out</button>  
        </div>   
    </form>     
</div>
</br>
</br>
</br>

<div class="text-center">
<form action="/Wyswietl" method="post">  
    <div class="container">   
        <label>Wyswietl wpisy: </label>   
        </br>
        </br>
        <button type="submit">Wyswietl</button>  
    </div>   
</form>    
</div>  


