@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
<form action="/Wyswietl" method="post">  
    <div class="container">   
        <label>Wyswietl wpisy: </label>   
        </br>
        </br>
        <button type="submit">Wyswietl</button>  
    </div>   
</form>    
</div>  

<div style="position:absolute; bottom:100px;">
    <a asp-controller="Home" asp-action="Logout">Wyloguj się</a>
</div>
